NODE_ENV=development
PORT=3000
MONGO_URL=mongodb://localhost:27017/flowforge
SCHEDULER_WINDOW_MS=60000
SCHEDULER_PRELOAD_MS=5000
SCHEDULER_RECOVERY_MS=10000
SCHEDULER_TICK_MS=500
WORKER_HEARTBEAT_TIMEOUT_MS=15000
WORKER_LEASE_MS=30000
